<div class="bg">
  <a routerLink="/taskboard" routerLinkActive="active" class="taskboard">
    <img class="link-bg" src="../assets/img/task.png" alt="">
  </a>

  <a routerLink="/auth" routerLinkActive="active" class="auth">
    <img class="link-bg" src="../assets/img/user.png" alt="">
  </a>
  <a routerLink="/history" routerLinkActive="active" class="history">
    <img class="link-bg" src="../assets/img/history.png" alt="">
  </a>

  <router-outlet></router-outlet>
</div>
