.auth {
  position: absolute;
  display: inline;
  right: 5px;
  top: 5px;
  height: 20px;
  margin: 10px;
  z-index: 100;
}

.auth:hover {
  transform: scale(1.1);
}

.history {
  position: absolute;
  height: 20px;
  display: inline;
  right: 5px;
  top: 75px;
  margin: 10px;
  z-index: 100;
}

.history:hover {
  transform: scale(1.1);
}

.taskboard {
  position: absolute;
  height: 20px;
  display: inline;
  left: 5px;
  top: 5px;
  margin: 10px;
  z-index: 100;
}

.taskboard:hover {
  transform: scale(1.1);
}

.link-bg {
  height: 50px;
  width: 50px;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: block;
  background-color: #EDF5E1;
  text-align: center;
  font-family: monospace;
  font-size: 22px;
}
