<div class="{{'task' + index + '' + count}}">
  <div class="task-content">
    <div>{{data.title}}</div>
    <div>{{getTimerString()}}</div>
    <div>goal: {{data.goal}} min</div>

    <img class="btn-bg" src="../../assets/img/play.png" alt="" (click)="toPlay()">
    <img class="btn-bg" src="../../assets/img/pause.png" alt="" (click)="toPause()">
    <img class="btn-bg" src="../../assets/img/complete.png" alt="" (click)="toComplete()">
    <img class="btn-bg" src="../../assets/img/stop.png" alt="" (click)="toStop()">
  </div>
</div>
