.task {
  background-color: yellowgreen;
  margin: 0 auto;
  height: 250px;
}

.btn {
  height: 25px;
  width: 25px;
}

.task-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.btn-bg {
  height: 45px;
  width: 45px;
  margin: 5px;
}

.btn-bg:hover {
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

.task-content {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
  text-align: center;
  font-family: monospace;
  font-size: 33px;
}

/*Для одной задачи*/
.task01 {
  position: fixed;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #B1A296;
}

/*Для двух задач*/
.task02 {
  position: fixed;
  height: 50%;
  width: 100%;
  left: 0;
  top: 0;
  background-color: #B1A296;
}

.task12 {
  position: fixed;
  height: 50%;
  width: 100%;
  left: 0;
  bottom: 0;
  background-color: #557A95;
}

/*Для трех задач*/
.task03 {
  position: fixed;
  height: 50%;
  width: 50%;
  top: 0;
  left: 0;
  background-color: #B1A296;
}

.task13 {
  position: fixed;
  width: 50%;
  top: 0;
  right: 0;
  height: 50%;
  background-color: #557A95;
}

.task23 {
  position: fixed;
  top: 50%;
  left: 0;
  width: 100%;
  background-color: #7395AE;
  height: 50%;
}

/*Для четырех задач*/
.task04 {
  position: fixed;
  height: 50%;
  width: 50%;
  left: 0;
  top: 0;
  background-color: #B1A296;
}

.task14 {
  position: fixed;
  width: 50%;
  height: 50%;
  right: 0;
  top: 0;
  background-color: #557A95;
}

.task24 {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 50%;
  background-color: #7395AE;
}

.task34 {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 50%;
  background-color: #5D5C61;
}

