.task {
  background-color: #7395AE;
  margin: 0 auto;
  height: 100px;
  width: 90%;
  text-align: left;
  border-radius: 8px;
}

.task-content {
  margin-left: 10%;
}

.status-container {
  position: relative;
}

.status {
  position: absolute;
  right: 10%;
  height: 45px;
  width: 45px;
  bottom: 30px;
}
