<div>
  <div *ngFor="let elm of tasks">
    <div class="task">
      <div class="task-content">
        <h3>{{elm.title}}</h3>
        <p>Goal: {{elm.goal}} min; Real time: {{(elm.timer - elm.timer % 60) / 60}} min</p>
        <div class="status-container">
          <img class="status" *ngIf="elm.state === 'STARTED'" src="assets/img/play.png">
          <img class="status"  *ngIf="elm.state === 'PAUSED'" src="assets/img/pause.png">
          <img class="status"  *ngIf="elm.state === 'DELETED'" src="assets/img/delete.png">
          <img class="status"  *ngIf="elm.state === 'FINISHED'" src="assets/img/complete.png">
          <img class="status"  *ngIf="elm.state === 'CREATED'" src="assets/img/add-file.png">
        </div>
      </div>
    </div>
  </div>
</div>
