.auth-container {
  width: 300px;
  margin: 20% auto;
  font-size: 16px;
}

.form-group input {
  width: 300px;
  display: block;
  margin-top: 10px;
}

.form-group button {
  width: 100px;
  display: block;
  margin-top: 10px;
}

.form-group p {
  width: 100px;
  display: block;
}

.authorized {
  position: relative;
  text-align: left;
}
