<div class="auth-container">
  <form
    *ngIf="!authorized && formType === 0"
    name="form"
    (ngSubmit)="f.form.valid && signIn()"
    #f="ngForm"
    novalidate
  >
    <p>Login</p>
    <div class="form-group">
      <input
        type="text"
        placeholder="username"
        class="form-control"
        name="username"
        [(ngModel)]="formIn.username"
        required
        minlength="3"
        maxlength="20"
        #username="ngModel"
      />
      <div class="alert-danger" *ngIf="username.errors && f.submitted">
        <div *ngIf="username.errors['required']">Username is required</div>
        <div *ngIf="username.errors['minlength']">Username must be at least 3 characters</div>
        <div *ngIf="username.errors['maxlength']">Username must be at most 20 characters</div>
      </div>
    </div>
    <div class="form-group">
      <input
        type="password"
        placeholder="password"
        class="form-control"
        name="password"
        [(ngModel)]="formIn.password"
        required
        minlength="6"
        #password="ngModel"
      />
      <div class="alert-danger" *ngIf="password.errors && f.submitted">
        <div *ngIf="password.errors['required']">Password is required</div>
        <div *ngIf="password.errors['minlength']">Password must be at least 6 characters</div>
      </div>
    </div>

    <div class="form-group">
      <button class="btn">SignIn</button>
    </div>

    <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
      Signup failed!<br />Error message
    </div>
  </form>

  <form
    *ngIf="!authorized && formType === 1"
    name="form"
    (ngSubmit)="f.form.valid && signUp()"
    #f="ngForm"
    novalidate
  >
    <p>Registration</p>
    <div class="form-group">
      <input
        type="text"
        placeholder="name"
        class="form-control"
        name="name"
        [(ngModel)]="formUp.name"
        required
        minlength="3"
        maxlength="20"
        #name="ngModel"
      />
      <div class="alert-danger" *ngIf="name.errors && f.submitted">
        <div *ngIf="name.errors['required']">Username is required</div>
        <div *ngIf="name.errors['minLength']">
          Username must be at least 3 characters
        </div>
        <div *ngIf="name.errors['maxlength']">
          Username must be at most 20 characters
        </div>
      </div>
    </div>
    <div class="form-group">
      <input
        type="text"
        placeholder="lastname"
        class="form-control"
        name="username"
        [(ngModel)]="formUp.lastname"
        required
        minlength="3"
        maxlength="20"
        #lastname="ngModel"
      />
      <div class="alert-danger" *ngIf="lastname.errors && f.submitted">
        <div *ngIf="lastname.errors['required']">Username is required</div>
        <div *ngIf="lastname.errors['minLength']">
          Username must be at least 3 characters
        </div>
        <div *ngIf="lastname.errors['maxlength']">
          Username must be at most 20 characters
        </div>
      </div>
    </div>
    <div class="form-group">
      <input
        type="text"
        placeholder="username"
        class="form-control"
        name="username"
        [(ngModel)]="formUp.username"
        required
        minlength="3"
        maxlength="20"
        #username="ngModel"
      />
      <div class="alert-danger" *ngIf="username.errors && f.submitted">
        <div *ngIf="username.errors['required']">Username is required</div>
        <div *ngIf="username.errors['minLength']">
          Username must be at least 3 characters
        </div>
        <div *ngIf="username.errors['maxlength']">
          Username must be at most 20 characters
        </div>
      </div>
    </div>
    <div class="form-group">
      <input
        type="password"
        placeholder="password"
        class="form-control"
        name="password"
        [(ngModel)]="formUp.password"
        required
        minlength="6"
        #password="ngModel"
      />
      <div class="alert-danger" *ngIf="password.errors && f.submitted">
        <div *ngIf="password.errors['required']">Password is required</div>
        <div *ngIf="password.errors['minlength']">
          Password must be at least 6 characters
        </div>
      </div>
    </div>

    <div class="form-group">
      <button class="btn btn-primary btn-block">SignUp</button>
    </div>

    <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
      Signup failed!<br />Error message
    </div>
  </form>

  <div *ngIf="!authorized" class="form-group">
    <button class="btn" (click)="changeForm()">Change form</button>
  </div>

  <div class="authorized" *ngIf="authorized">
    Your registration is successful!
    <div *ngIf="authorized" class="form-group">
      <button class="btn" (click)="logout()">Logout</button>
    </div>
  </div>

  <div *ngIf="error" class="error">
    Error: {{error}}
  </div>
</div>
