<div>
  <div *ngIf="!model.tasks.length" class="bg">
    <img src="assets/img/task-bg/bg.jpeg">
  </div>

  <div>
    <div *ngFor="let elm of model.tasks; let i = index">
      <app-task class="{{'test' + i}}" [data]="elm" [index]="i" [count]="model.tasks.length" (buttonClicked)="parentEventHandlerFunction(elm.taskId)">Task</app-task>
    </div>
  </div>

  <div class="form-container">
    <form *ngIf="formCreateTaskOpened" (ngSubmit)="onSubmit()" #newTaskForm="ngForm">
      <div class="form-group">
        <input type="text" maxlength="64" class="form-control" id="title"
               name="title"
               required
               placeholder="title 64 symbols"
               [(ngModel)]="model.currentTask.title"
               #title="ngModel">
      </div>

      <div class="form-group">
        <input type="text" maxlength="255" class="form-control" id="description"
               name="description"
               required
               placeholder="description 255 symbols"
               [(ngModel)]="model.currentTask.description"
               #description="ngModel">
      </div>

      <div class="form-group">
        <input type="number" min="1" max="600" class="form-control" id="goal"
               name="goal"
               required
               placeholder="goal in minutes"
               [(ngModel)]="model.currentTask.goal"
               #goal="ngModel">
      </div>

      <button type="submit" class="btn" [disabled]="!newTaskForm.form.valid">Create</button>
      <button class="btn" (click)="onCreateTask()">Cansel</button>
    </form>
  </div>

  <img *ngIf="newTaskAccepted" class="btn-open-form" src="../../assets/img/add-file.png" alt="" (click)="onCreateTask()">
</div>
