.btn-open-form {
  position: absolute;
  display: inline;
  left: 5px;
  top: 75px;
  margin: 10px;
  height: 50px;
  width: 50px;
}

.btn-open-form:hover {
  transform: scale(1.1);
}

.form-container {
  position: absolute;
  display: block;
  font-size: 16px;
  left: 5%;
  top: 5%;
}

.form-group {
  left: 50%;
  width: 300px;
  margin-top: 5px;
}

.btn {
  margin-top: 5px;
  margin-right: 5px;
}

.form-control {
  width: 250px;
}

.bg {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #EDF5E1;
}

.bg img {
  margin-top: 15%;
  transform: scale(0.5);
  box-shadow: 10px 10px 5px #ccc;
}
